{% extends "NyaaaStore/base.html" %}
{% load static %}


    {% block Contenido %}
    <!-- Products -->
    <section>
        <div class="container my-5">
            <header class="mb-4">
                <h3>New products</h3>
            </header>
            {% for p in productos %}
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card my-2 shadow-0">
                        <a href="#" class="img-wrap">
                            <img src="{{ p.foto.url }}"
                                class="card-img-top" style="aspect-ratio: 1 / 1">
                        </a>
                        <div class="card-body p-0 pt-2">
                            <h5 class="card-title">${{ p.precio }}</h5>
                            <p class="card-text mb-0">{{ p.nombre }}</p>
                            <p class="text-muted">
                                ID: {{ p.id }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- Products -->
    {% endblock Contenido %}