{% extends "NyaaaStore/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "NyaaaStore/css/catalogo.css" %}">
{% endblock css %}

{% block Contenido %}

{% load humanize %}

<main>
    <!-- Contenedor de las cartas -->
<div class="product-grid">
<!-- Carta 1 -->
{% for p in productos %}
<div class="product-card">
    <a href="{% url "verproducto" p.id %}">
        <img src="{{ p.foto.url }}" alt="producto">
        <h2>{{ p.nombre }}</h2>
        <p>${{ p.precio }}</p>
        <p>ID: {{ p.id }}</p>
        <a href="{% url 'add_to_cart' p.id %}">
        <button class="product-button">Agregar al carro</button>
        </a>
    </a>
</div>
{% endfor %}
</div>

</main>

{% endblock Contenido %}