{% extends "NyaaaStore/base.html" %}
{% load static %}

{% block Contenido %}

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h5 class="my-3">{{ user.username }}</h5>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="{% comment %} {% url "editarperfil" %} {% endcomment %}" class="btn btn-primary" >Editar Perfil</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Nombre completo</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.first_name}} {{user.last_name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.email}}</p>
                            </div>
                        </div>
                        <hr> 
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Telefono</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">#</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Ciudad</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">#</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Direccion</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">#</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-15">
                <div class="table-responsive my-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="bg-dark text-white">IMAGEN</th>
                                <th class="bg-dark text-white">PRODUCTO</th>
                                <th class="bg-dark text-white">PRECIO</th>
                                <th class="bg-dark text-white">CANTIDAD</th>
                                <th class="bg-dark text-white">ESTADO</th>
                                <th class="bg-dark text-white">FECHA</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for venta in historial_compras %}
                                <tr>
                                    <td class="text-center"> <img src="{{ venta.producto.foto.url }}" style="width: 65px;" alt="producto-imagen"></td>
                                    <td>{{ venta.producto.nombre }}</td>
                                    <td>{{ venta.total_venta }}</td>
                                    <td>{{ venta.cantidad }}</td>
                                    <td>{{ venta.estado }}</td>
                                    <td>{{ venta.fecha }}</td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                    <div>
                        {% include "NyaaaStore/paginator.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock Contenido %}