{% extends "NyaaaStore/base-adm.html" %}
{% load static %}


{% block Contenido-adm %}

<div class="container mt-3">
    <h2>Historial de ventas</h2>
    <div class="table-responsive my-3">
        <table class="table table-bordered">
            <thead>
                <th class="">ID PEDIDO</th>
                <th class="">ID PRODUCTO</th>
                <th class="">NOMBRE</th>
                <th class="">CANTIDAD</th>
                <th class="">TOTAL VENTA</th>
                <th class="">CLIENTE</th>
                <th class="">EMAIL</th>
                <th class="">ESTADO</th>
                <th class="">FECHA</th>
            </thead>
            <tbody>
                {% for venta in ventas %}
                <tr>
                    <td>{{venta.id}}</td>
                    <td>{{venta.producto.id}}</td>
                    <td>{{venta.producto.nombre}}</td>
                    <td>{{venta.cantidad}}</td>
                    <td>{{venta.total_venta}}</td>
                    <td>{% if venta.usuario %}<a href="{% url 'perfil' venta.usuario.username %}">{{venta.usuario.username}}</a>{% else %}Usuario eliminado{% endif %}</td>
                    <td>{% if venta.usuario %}{{ venta.usuario.email }}{% else %}N/A{% endif %}</td>
                    <td>
                        <form method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="venta_id" value="{{ venta.id }}">
                            <select name="estado" onchange="this.form.submit()">
                                <option value="EN PREPARACIÓN" {% if venta.estado == 'EN PREPARACIÓN' %}selected{% endif %}>EN PREPARACIÓN</option>
                                <option value="PREPARADO" {% if venta.estado == 'PREPARADO' %}selected{% endif %}>PREPARADO</option>
                                <option value="ENVIADO" {% if venta.estado == 'ENVIADO' %}selected{% endif %}>ENVIADO</option>
                                <option value="ENTREGADO" {% if venta.estado == 'ENTREGADO' %}selected{% endif %}>ENTREGADO</option>
                                <option value="CANCELADO" {% if venta.estado == 'CANCELADO' %}selected{% endif %}>CANCELADO</option>
                            </select>
                        </form>
                    </td>
                    <td>{{venta.fecha}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock Contenido-adm %}